* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html{
    font: 100% / 1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
    /* background: #f9fbfe; */
    }
    h1, h2, h3, h4, h5, h6, p, div {
      color: #2b546a;
      font-weight: bold;
      font-size: 1rem;
    }
    body{
        /* padding: 50px; */
       width: 100vw;
       height: 100vh;
    }
    h2{
        text-align: left;
        padding: 10px;
      }
      .photo{
        width: 250px;
        height: 250px;
        padding: 50px; 
      }
      .user{
         padding: 60px;
      }
      .user_image{
         width: 200px;
         height: 200px; 
        border-radius: 50%;
    }
    .user_skills{
       display: inline-block;
       background-color:   rgb(89, 212, 211);
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 13px;
        margin: 4px;
        cursor: pointer;
    }
    .Image{
        background-color:  rgb(240, 241, 247);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_element{
        padding-bottom: 20px;
    }
    span{
        padding-top: 20px;
        display: block;
    }

     /* .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        justify-content: center;
        align-items: center;
        
    }  */

     .card{
        margin-top: 50px;
        margin-bottom: 50px;
    } 
    .btnn{
        display: flex;
      justify-content: center;
       
    }
    .btn{
        text-align: center;
       justify-content: center;
       align-items: center;
    }
    .card-text{
        line-height: 1;
        
    }
    .country_flag{
        height: 12rem;
        width: 20rem;
        text-align: center;
        margin: auto;
    }
    