.center{
    margin: auto;
    width: 50%;
    /* background-color: aqua;
    margin: auto;
    width: 40%; */
}

.img{
    width: 100%;
    display: block;
    /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; */
}

/* .btn{
        border: "1px solid #b9b7b7";
        padding: "10px 15px";
        text-transform: "uppercase";
        margin: "10px 10px";
        font-family: "Roboto";
        font-size: "23px";
        font-weight: "400";
        border-radius: "2px";
        cursor: "pointer";
} */